<% layout("layouts/boilerplate.ejs") %>

<div class="row">
    <div class="col-8 offset-2 mt-3">
        <h2>Add a New Listing</h2>
        <form method="POST" action="/listings">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="title" placeholder="Add title" type="text" class="form-control" required>
            </div>
            
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" class="form-control" required></textarea>
            </div>
            
            <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input name="image" placeholder="Enter image URL" type="text" class="form-control">
            </div>
            
            <div class="row"> <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="price" type="number" class="form-control" required>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="country" placeholder="Enter Country" type="text" class="form-control" required>
                </div>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="location" placeholder="Enter Location (City, State)" type="text" class="form-control" required>
            </div>
            
            <button class="btn btn-dark add-btn">Add</button>

            <br><br><br>
        </form>
    </div>
</div>