<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust - Add new Listing</title>
</head>
<body>
    <form method="POST" action="/listings">
        <input name="title" placeholder="Add Title" type="text">    <br><br>
        <textarea name="description" placeholder="Add Description" type="text"></textarea>  <br><br>
        <input name="price" placeholder="Enter Price" type="number">    <br><br>
        <input name="image" placeholder="enter image URL" type="text">  <br><br>
        <input name="location" placeholder="enter state and city" type="text">  <br><br>
        <input name="country" placeholder="enter country" type="text">  <br><br>
        <button>Submit</button>
    </form>
</body>
</html>