<% layout("layouts/boilerplate.ejs") %>

<div class="row">
  <h2 class="text-center mt-3">Login back to NextStop</h2>
  <div class="col-6 offset-3 mt-3">
    <form method="POST" action="/login">
      <div class="mt-4">
        <label for="username" class="form-label">Username*</label>
        <input
          name="username"
          id="username"
          placeholder="Enter your Usrname"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks Good</div>
        <div class="invalid-feedback">Please enter a valid username</div>
      </div>

      <div class="mt-4">
        <label for="password" class="form-label">Password*</label>
        <input
          name="password"
          type="password"
          class="form-control"
          required
        ></input>
        <div class="invalid-feedback">Please enter your password</div>
      </div>

      <button class="btn btn-dark offset-5 mt-5">Login</button>

    </form>
  </div>
</div>
